<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
<div>
    <h1>Worked</h1>


   <div class="menu">
       <a href="/register"><%= register %></a><br>
       <a href="/login"><%= login %></a> <br>
       <a href="/home"><%= home %></a><br>
   </div>
    <div class="button">
        <button onclick="createCookie()">Create Cookie</button>
        <button onclick="deleteCookie()">Delete Cookie</button>
        <button onclick="getLog()">View Log</button>
    </div>

</div>
<div class="preRoot"></div>
<script src="./work.js"></script>
</body>
</html>